.recipe-post-container {
    margin-top: 3vh;
    display: flex;
    justify-content: center;
}
.recipe-post {
    max-width: 60vw;
    display: flex;
}
.recipe-post-image {
    object-fit: cover;
    border-radius: 2rem;
    max-height: 40vh;
    width: 15vw;
}
.recipe-body-title {
    font-size: xx-large;
    font-weight: 600;
    margin-bottom: 4vh;
}
.recipe-body-h2 {
    margin-top: 2vh;
    font-size: large;
}
.recipe-body-description {
    margin-top: 6vh;
    max-width: 800px;
}

@media only screen and (max-width: 720px) {
    .recipe-post {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .recipe-post-image {
        object-fit: cover;
        height: 30vh;
        width: 50vw;
        border: 2px solid rgba(0, 0, 0, 0.2);
        border-radius: 2rem;
    }
}