@font-face {
    font-family: WinterBeauty;
    src: url('../../../public/fonts/winterbeauty-Script.otf');
}
.hero-image {
    width: 1900px;
    height: 700px;
}
.search-text {
    font-family: WinterBeauty;
}
.search-box {
    top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}