@font-face {
    font-family: WinterBeauty;
    src: url('../../../public/fonts/winterbeauty-Script.otf');
}
.hero-image-container {
    max-width: 100vw;
}
.hero-image {
    min-width: 100vw;
    max-height: 70vh;
}
.search-text {
    font-family: WinterBeauty;
}
.search-box {
    top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 720px) {
    .search-box {
        top: 20vh;
    }
}