.hero-image {
    width: 1900px;
    height: 700px;
}
.search-text {
    font-family: 'Times New Roman', Times, serif;
}
.search-box {
    top: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}