.log-in-container {
    z-index: 1;
    top: 0;
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100vw;
    height: 100vh;
}
.log-in-x-button {
    cursor: pointer;
}
.active {
    display: flex;
    justify-content: center;
    align-items: center;
}
